<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Create a Post</title>
  </head>
  <body>
    <%- include("partials/header.ejs"); %>
    <main class="main-edit">
      <form action="/update" method="POST">
        <label for="title">Blog Title:</label>
        <input type="hidden" name="id" value="<%= post.id %>" />
        <input
          class="title"
          type="text"
          name="title"
          placeholder="Update Your Blog Title"
          value="<%= post.title %>"
          required
        />
        <label for="description">Description:</label>
        <textarea
          name="description"
          rows="20"
          cols="50"
          placeholder="Update Your Blog Content Here..."
          required
        >
<%= post.description %></textarea
        >
        <button type="submit" class="btn">Save</button>
      </form>
    </main>
    <%- include("partials/footer.ejs"); %>
  </body>
</html>
