<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>All Posts</title>
</head>
<body>
  <%- include("partials/header.ejs"); %>
  <main class="main-view">
    <h1>All Blogs</h1>
    <div class="blogs">
      <% posts.forEach(post => { %>
        <div class="card">
          <h3><%= post.title %></h3>
          <p><%= post.description %></p>  
          <div class="action-buttons">
            <form action="/delete" method="POST">
              <input type="hidden" name="id" value="<%= post.id %>">
              <button class="btn" type="submit">Delete</button>
            </form>
            <form action="/edit" method="GET">
              <input type="hidden" name="id" value="<%= post.id %>">
              <button class="btn" type="submit">Update</button>
            </form>
          </div>
        </div>
      <% }); %>
    </div>
  </main>
  <%- include("partials/footer.ejs"); %>
</body>
</html>